$--nav-width: 68px;
$--z-fixed: 100;

.navbar {
  .dropstart .dropdown-toggle::before {
    content: none;
  }

  .search-box {
    .form-control {
      border-left: none;
    }
  }

  .dropdown-menu {
    box-shadow: var(--bs-dropdown-box-shadow);
    -moz-box-shadow: var(--bs-dropdown-box-shadow);
    -webkit-box-shadow: var(--bs-dropdown-box-shadow);
    border: none;
  }
}

.content {
  .sidebar {
    transition: .5s;

    .sticky-top {
      .ps-sidebar-container {
        height: 100vh;
        background: var(--bs-dark);

        .active.btn {
          background-color: var(--bs-primary);
          font-weight: 500;
        }

        .nav-icon, .btn-icon {
          width: 100%;
          color: var(--bs-white);

          &:hover,
          &:focus {
            background-color: var(--bs-primary);
          }
        }

        .btn-icon {
          margin: 0 auto;
          text-align: left;

          .toggle-icon {
            transition: .35s ease;
          }

          //for dropdown menu items
          &[aria-expanded="true"] {
            .toggle-icon {
              transform: rotate(90deg);
            }
          }
        }
      }

      .ps-collapsed {
        .nav-icon {
          border-bottom: 1px solid var(--bs-gray-100);
        }

        .btn-toggle {
          margin-left: 0;
        }

        .nav-icon {
          svg {
            height: 32px;
            width: 32px;
          }
        }

        .btn-icon {
          text-align: center;

          svg {
            height: 28px;
            width: 28px;
          }
        }

        .nav-icon, .btn-icon {
          span {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .ps-sidebar-container {
    padding-top: 100px;
  }
}
